<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted text-center">
          	Todos os direitos reservados © 
			<a href="https://www.farmaciaindiana.com.br/" target="_blank">Farmácia Indiana</a>
        </p>
      </div>
    </div>
  </div>
</footer>