<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
<meta name="description" content="" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
/>

<!-- Auto Refresh --> 
<?php
  if($_SERVER["REQUEST_URI"] == '/gestao-etiquetas/index.php'){ 
    $segundos = 600; 
    $pagina = 'index.php';
  }else{
    $segundos = 3600;
    $pagina = $_SERVER["REQUEST_URI"];
  }
?>
<meta http-equiv="refresh" content="<?php echo $segundos; ?>;URL='<?php echo $pagina; ?>'">
<!-- Auto Refresh -->

<link
  rel="icon"
  type="image/x-icon"
  href="./assets/img/logo-farmaciaindiana.svg"
/>

<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900"
  rel="stylesheet"
/>

<!-- Core stylesheets -->
<link
  rel="stylesheet"
  href="assets/vendor/css/rtl/bootstrap.css"
  class="theme-settings-bootstrap-css"
/>
<link
  rel="stylesheet"
  href="assets/vendor/css/rtl/appwork.css"
  class="theme-settings-appwork-css"
/>
<link
  rel="stylesheet"
  href="assets/vendor/css/rtl/theme-corporate.css"
  class="theme-settings-theme-css"
/>
<link
  rel="stylesheet"
  href="assets/vendor/css/rtl/colors.css"
  class="theme-settings-colors-css"
/>
<link rel="stylesheet" href="assets/vendor/css/rtl/uikit.css" />
<link rel="stylesheet" href="assets/css/demo.css" />

<!-- Libs -->
<link
  rel="stylesheet"
  href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
/>

<link rel="stylesheet" href="./assets/css/config.css" />
<link rel="stylesheet" href="./assets/css/mod.css" />


