<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.dataTables.min.js" type="text/javascript"></script>

<!-- Libs -->
<script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<!-- Scripts para MODAL -->
<script src="assets/js/jquery-3.5.1.js"></script>
<script src="assets/modal/popper.min.js"></script>
<script src="assets/modal/bootstrap.min.js"></script>

