.background-color {
  background-color: #f5f5f5;
}

#logoIndiana {
  width: 300px;
  height: 125px;
}

.btn-primary {
  border-color: rgba(0, 0, 0, 0);
  background: #204d8d;
  color: #fff;
}

.btn-primary:hover {
  background: #1a3d6e;
}

.btn-outline-primary {
  border-color: #204d8d;
  background: transparent;
  color: #204d8d;
}

.btn-outline-primary:hover {
  background: #204d8d;
}

.input-group .custom-select:focus {
  border: 1px solid #204d8d;
}

.thead-primary {
  background-color: #204d8d;
  color: white;
}

.font-color {
  color: #204d8d;
}

p.alert-user {
  margin: 5px 0 0;
  padding: 7px 5px;
  background-color: #d83737f8;
  color: white;
  border-radius: 0.25rem;
}

#div-button {
  position: relative;
}

a.button-create {
  background: rgba(99, 138, 192, 0.493);
  cursor: text;
}

a.button-create:hover {
  background: rgba(99, 138, 192, 0.493);
}

#message-button {
  position: absolute;
  bottom: 45px;
}

@media (max-width: 765px) {
  .display-3 {
    font-size: 2rem;
  }
  .display-4 {
    font-size: 1.3rem;
  }

  table {
    font-size: 0.8rem;
  }

  .btn {
    padding: 0.7rem 0.7rem;
    font-size: 0.82rem;
    line-height: 0.5;
  }
}

@media (max-width: 388px) {
  .display-3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 281px) {
  .display-3 {
    font-size: 1.2rem;
  }

  .display-4 {
    font-size: 1.1rem;
  }

  table {
    font-size: 0.8rem;
  }
}
